[Unit]
Description=pt-admin-daemon

[Service]
WorkingDirectory=/home/gretel/driver/admin-daemon
ExecStart=/usr/local/bin/docker-compose -p pt-admin-daemon -f /home/gretel/driver/admin-daemon/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -p pt-admin-daemon -f /home/gretel/driver/admin-daemon/docker-compose.yml down
ExecReload=/usr/local/bin/docker-compose -p pt-admin-daemon -f /home/gretel/driver/admin-daemon/docker-compose.yml restart
User=root
Group=root
Restart=always

Type=simple

[Install]
WantedBy=multi-user.target
